.settings
.project
tiendacomponentes-data/.settings
tiendacomponentes-data/target
tiendacomponentes-data/.classpath
tiendacomponentes-data/.project

tiendacomponentes-entities/.settings
tiendacomponentes-entities/target
tiendacomponentes-entities/.classpath
tiendacomponentes-entities/.project

tiendacomponentes-web/.settings
tiendacomponentes-web/target
tiendacomponentes-web/.classpath
tiendacomponentes-web/.project

tiendacomponentes-services/.settings
tiendacomponentes-services/target
tiendacomponentes-services/.classpath
tiendacomponentes-services/.project